<div class="container-fluid">
  <div class="hero-section">
    <img src="../../../../../assets/images/1-min.JPG" alt="" class="hero-img" />
    <div class="hero-heading">
      <h3>
        Centre for Cybercrime Investigation Training & Research (C.C.I.T.R) at
        CID Headquarters, Bengaluru
      </h3>
    </div>
  </div>
  <!-- Flagship events Start -->

  <div class="row flagship-container">
    <div class="animated-line">
      <h5 class="global-title">Flagship Events</h5>
    </div>
    <ng-container *ngFor="let arr of homeArr">
      <ng-container *ngIf="arr.home_subheader_2"> </ng-container>
    </ng-container>
    <app-cards></app-cards>
  </div>

  <!-- Digital Forensic infrastructure Lab Start-->
  <!-- <div class="lab-container">
    <div class="animated-line">
      <h5 class="global-title">Digital Forensic infrastructure Lab</h5>
    </div>

    <div class="lab-title-text" *ngFor="let arr of homeArr">
      <ng-container *ngIf="arr.home_title_2"> </ng-container>
    </div>
    <div class="lab-containers">
      <ng-container *ngFor="let arr of homeArr">
        <div class="img-allign" *ngIf="arr.Infrastructure_image?.url">
          <img
            [src]="'https://ccitr.emeetify.com' + arr.Infrastructure_image?.url"
            alt=""
            class="lab-image"
          />
          <h5>{{ arr.home_subheader_3 }}</h5>
        </div>
      </ng-container>
    </div>
  </div> -->
  <!-- Experience the best-in-class Cyber Facilities -->
  <app-infinite-carousel></app-infinite-carousel>
  <!-- Reports -->

  <div class="reports_container">
    <div class="heading-text">
      <ng-container *ngFor="let arr of homeArr">
        <ng-container *ngIf="arr.home_title_4">
          <div class="animated-line">
            <h5 class="global-title">{{ arr.home_title_4 }}</h5>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div>
      <div class="wrapper-img">
        <ng-container *ngFor="let arr of homeArr">
          <div class="cards-image" *ngIf="arr?.home_title_image?.url">
            <div class="card">
              <div class="card-image">
                <img
                  [src]="
                    'https://ccitr.emeetify.com' + arr.home_title_image?.url
                  "
                  alt=""
                />
              </div>
              <ng-container *ngIf="arr.home_subheader_6">
                <h5 class="card-title">{{ arr.home_subheader_6 }}</h5>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Testimonials -->

  <div class="heading-text">
    <ng-container *ngFor="let arr of homeArr">
      <ng-container *ngIf="arr.home_title_5">
        <div class="animated-line">
          <h5 class="global-title">{{ arr.home_title_5 }}</h5>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="testimonial-carousel-container">
    <div class="carousel-container">
      <div class="carousel-background-shake"> 

      
      <div class="carousel-wrapper" [style.transform]="carouselTransform">
        <div *ngFor="let arr of homeArr" class="carousel-item">
          <div class="testimonial-content-wrapper">
            <ng-container *ngIf="arr.home_title_5_para">
              <div class="testimonial-card">
                <p class="card_text">
                  <svg
                    class="open-quotes"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72z"
                    />
                  </svg>
                  &nbsp;&nbsp;
                  {{ arr.home_title_5_para }}
                  &nbsp;&nbsp;<svg
                    class="closed-quotes"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72z"
                    />
                  </svg>
                </p>
              </div>
            </ng-container>
            <div class="author-container">
              <ng-container *ngIf="arr.testimonials_author">
                <h5>
                  {{ arr.testimonials_author }}
                </h5>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   <button class="prev-btn" (click)="prev()">
      <svg
        class="arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        />
      </svg>
    </button>
    <button class="next-btn" (click)="next()">
      <svg
        class="arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
        />
      </svg>
    </button> 
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>

  <!-- Public Awareness Material -->

  <div class="row">
    <div class="heading-text">
      <ng-container *ngFor="let arr of homeArr">
        <ng-container *ngIf="arr?.home_title_6">
          <div class="animated-line">
            <h5 class="global-title">{{ arr.home_title_6 }}</h5>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="material-carousel-containers" *ngIf="carouselData.length > 0">
    <div
      class="posters-img-wrapper"
      [class.active]="activeWrapper === 'posters'"
      (click)="activateWrapper('posters')"
    >
      <div class="carousel posters-carousel">
        <div *ngFor="let poster of carouselData" class="carousel-item">
          <img
            [src]="poster.posters || 'fallback-image-url.jpg'"
            alt="Posters"
          />
        </div>
      </div>
      <h6 class="material-title">Posters</h6>
    </div>

    <div
      class="events-img-wrapper"
      [class.active]="activeWrapper === 'events'"
      (click)="activateWrapper('events')">
      <div class="carousel events-carousel">
        <div *ngFor="let event of carouselData" class="carousel-item">
          <img [src]="event.events || 'fallback-image-url.jpg'" alt="Events" />
        </div>
      </div>
      <h6 class="material-title">Events</h6>
    </div>
  </div>
</div>
