<div class="aboutus-wrapper">
  <h2 class="title animated-text">Resource</h2>
</div>

<div class="container-fluid">
  <div *ngFor="let item of carouselData; let carouselIndex = index">
    <div class="wrapper">
      <div class="title_wrapper">
        <h4 class="title">{{ item.heading }}</h4>
      </div>
      <div class="para" [innerHTML]="item.text"></div>
      <ng-container *ngIf="item.subheading || item.bullets">
        <div class="subheader-wrapper">
          <h4 class="subheader">{{ item.subheading }}</h4>
          <div class="bullets" [innerHTML]="item.bullets"><img src="../../../../../assets/images/right-arrow.png" height="20" width="20"/></div>
        </div>
      </ng-container>

      <!-- Only display carousel if images are present -->
      <ng-container *ngIf="item.image && item.image.length > 0">
        <div class="carousel">
          <div class="image-container">
            <div class="center">
              <!-- Loop through images and only show non-null images -->
              <ng-container *ngFor="let img of item.image; let i = index">
                <ng-container *ngIf="img">
                  <!-- Only show image if it's not null or empty -->
                  <img
                    [src]="img"
                    [class.active]="i === carouselIndices[carouselIndex]"
                    class="image"
                    alt="Carousel Image"
                  />
                </ng-container>
              </ng-container>
            </div>
          </div>

          <button
            *ngIf="item.image.length > 1"
            (click)="prevImage(carouselIndex, item.image.length)"
            class="nav-button prev"
          >
            &#10094;
          </button>
          <button
            *ngIf="item.image.length > 1"
            (click)="nextImage(carouselIndex, item.image.length)"
            class="nav-button next"
          >
            &#10095;
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
