<div class="container-fluid">
  <div class="row" *ngFor="let about of contentArr">
    <p>{{ about.aboutus_content }}</p>
    <p>{{ about.aboutus_content_2 }}</p>
    <p>{{ about.aboutus_content_3 }}</p>
    <p>{{ about.aboutus_content_4 }}</p>
    <br />
    <p>{{ about.aboutus_content_5 }}</p>
    <h3>{{ about.aboutus_heading_1 }}</h3>
    <ol>
      <li>{{ about.aboutus_bullet_1 }}</li>
      <li>{{ about.aboutus_bullet_2 }}</li>
      <li>{{ about.aboutus_bullet_3 }}</li>
      <li>{{ about.aboutus_bullet_4 }}</li>
    </ol>
    <h3>{{ about.aboutus_heading_2 }}</h3>
    <ul>
      <li>{{ about.aboutus_bullet_5 }}</li>
      <li>{{ about.aboutus_bullet_6 }}</li>
      <li>{{ about.aboutus_bullet_7 }}</li>
      <li>{{ about.aboutus_bullet_8 }}</li>
      <li>{{ about.aboutus_bullet_9 }}</li>
      <li>{{ about.aboutus_bullet_10 }}</li>
      <li>{{ about.aboutus_bullet_11 }}</li>
    </ul>

 
  </div>
</div>
