<div class="aboutus-wrapper">
  <h2 class="title">About Us</h2>
</div>
<div class="container-fluid">
  <div class="main-wrapper">
    <div class="container-image">
      <div class="frame frame1">
        <img
          src="../../../../../assets/main/CCITR Logos/CID Logo/logo full hd_00000.png"
          alt="Image 1"
        />
      </div>
      <div class="frame frame2">
        <img
          class="img-2"
          src="../../../../../assets/main/CCITR Logos/DSCI Logo/DSCI Logo White- FC.png"
          alt="Image 2"
        />
      </div>
      <div class="frame frame3">
        <img
          src="../../../../../assets/main/CCITR Logos/Infosys Logo/Untitled design (6).png"
          alt="Image 3"
        />
      </div>
    </div>

    <div class="wrapper_paras-container">
      <div class="wrapper_paras">
        <div class="" *ngFor="let arr of contentArr">
          <ng-container *ngIf="arr.aboutus_para">
            <p class="para_container">{{ arr.aboutus_para }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="my-flexs">
     <div class="polygon">
      
    </div>
    <div class="animated-line">
      <h5 class="global-title">Objectives</h5>
    </div>
    <div>
      <div class="my-flex">
          <div class="my-text-allign" *ngFor="let arr of contentArr">
            <div>
              <ng-container  *ngIf="arr?.objective_point_1">
                <div class="p-boxes">
                  <img
                    src="../../../../../assets/images/mdi_star-four-points.png"
                  />
                  <p>{{ arr.objective_point_1 }}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="arr?.objective_point_2">
                <div class="p-boxes">
                  <img
                    src="../../../../../assets/images/mdi_star-four-points (1).png"
                  />
                  <p>{{ arr.objective_point_2 }}</p>
                </div>
              </ng-container>
            </div>

            <div>
              <ng-container *ngIf="arr?.objective_point_3">
                <div class="p-boxes">
                  <img
                    src="../../../../../assets/images/mdi_star-four-points (2).png"
                  />
                  <p>{{ arr.objective_point_3 }}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="arr?.objective_point_4">
                <div class="p-boxes">
                  <img
                    src="../../../../../assets/images/mdi_star-four-points (3).png"
                  />
                  <p>{{ arr.objective_point_4 }}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
    </div>
  </div> 

  
  <h2>{{ bullet }}</h2>

  <!-- key Activities  -->
  <div class="key-wrapper">
    <div class="">
      <div class="heading-text">
        <ng-container *ngFor="let arr of contentArr">
          <ng-container *ngIf="arr.aboutus_subheader_2">
         
            <div class="animated-line">
              <h5 class="global-title">{{ arr.aboutus_subheader_2 }}</h5>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="key_container">
      <div class="">
        <div class="" *ngFor="let arr of contentArr">
          <ng-container *ngIf="arr.Key_image">
            <img
              [src]="'https://ccitr.emeetify.com' + arr.Key_image.url"
              alt="Objective Image"
              class="objective-image"
            />
          </ng-container>
        </div>
      </div>
      <div>
        <div *ngFor="let arr of contentArr">
          <ng-container *ngIf="arr.aboutus_subheader_2_bullet">
            <li>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                  /></svg></span
              >&nbsp;{{ arr.aboutus_subheader_2_bullet }}
            </li>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
