<div class="aboutus-wrapper">
  <h2 class="title animated-text">About Us</h2>
</div>
<div class="container-fluid">
   <div class="main-wrapper">
    
     <div class="wrapper_paras-container">
       <div class="wrapper_paras">
         <div class="" *ngFor="let arr of contentArr">
           <ng-container *ngIf="arr.aboutus_para">
             <p class="para_container">{{ arr.aboutus_para }}</p>
           </ng-container>
         </div>
       </div>
     </div>
   </div>
  <!-- Objectives  -->
  <div class="my-flexs">
    <div class="heading-text">
      <h3 class="animate-text">Objectives</h3>
    </div>
    <div>
      <div class="my-flex">

        <div class="my-text-allign">
          <div  *ngFor="let arr of contentArr">

            <ng-container *ngIf="arr?.aboutus_subheader_bullet">

              <p><span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M480 96c17.7 0 32 14.3 32 32s-14.3 32-32 32l-208 0 0-64 208 0zM320 288c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0zm64-64c0 17.7-14.3 32-32 32l-48 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l48 0c17.7 0 32 14.3 32 32zM288 384c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0zm-88-96l.6 0c-5.4 9.4-8.6 20.3-8.6 32c0 13.2 4 25.4 10.8 35.6C177.9 364.3 160 388.1 160 416c0 11.7 3.1 22.6 8.6 32l-8.6 0C71.6 448 0 376.4 0 288l0-61.7c0-42.4 16.9-83.1 46.9-113.1l11.6-11.6C82.5 77.5 115.1 64 149 64l27 0c35.3 0 64 28.7 64 64l0 88c0 22.1-17.9 40-40 40s-40-17.9-40-40l0-56c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 56c0 39.8 32.2 72 72 72z"/></svg>
              </span>&nbsp;&nbsp;{{ arr?.aboutus_subheader_bullet }}</p>
            </ng-container>

          </div>
        </div>
        <div>
          <div class="" *ngFor="let arr of contentArr">
            <ng-container *ngIf="arr.objective_image">
              <img
                [src]="'https://ccitr.emeetify.com' + arr.objective_image.url"
                alt="Objective Image"
                class="objective-image"
              />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>{{ bullet }}</h2>

  <!-- key Activities  -->
   <div class="key-wrapper">

     <div class="">
       <div class="heading-text">
         <ng-container *ngFor="let arr of contentArr">
           <ng-container *ngIf="arr.aboutus_subheader_2">
             <h3 class="animate-text heading-text">
               {{ arr.aboutus_subheader_2 }}
              </h3>
            </ng-container>
          </ng-container>
        </div>
      </div>
  <div class="key_container">
    <div class="">
      <div class="" *ngFor="let arr of contentArr">
        <ng-container *ngIf="arr.Key_image">
          <img
          [src]="'https://ccitr.emeetify.com' + arr.Key_image.url"
          alt="Objective Image"
          class="objective-image"
          />
        </ng-container>
      </div>
    </div>
    <div>
      <div *ngFor="let arr of contentArr">
        <ng-container *ngIf="arr.aboutus_subheader_2_bullet">
          <li>
        
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                /></svg></span
            >&nbsp;{{ arr.aboutus_subheader_2_bullet }}
          </li>
        </ng-container>
      </div>
    </div>
  </div>
</div>
</div>
<div class="image-card" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
  <img class="image-3d" src="../../../../../assets/images/10-min.png" alt="3D Image" />
</div>