$white: #ffffff;
$blue: #244082;
$red: #c93733;
$black: #1b1918;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


footer{
    background: url(../../../../assets/main/Rectangle\ 113.png) no-repeat center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
}



svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    animation: rotate 10s infinite linear, pulse 3s infinite ease-in-out;
    transform-origin:center;
    fill: $white;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        list-style: none;
    }
}



.svg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    transition: background 2s ease;
}

.svg-container svg {
    width: 2rem;
    height: 2rem;
    z-index: 2;
    transition: transform 0.4s ease;
}

.svg-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    // border: 3px solid transparent;
    background: conic-gradient(from 240deg, #ff7eb3, #7afcff,);
    transition: border 1.5s ease, background 2s ease;
    z-index: 1;
    transform: scale(0);
    transform-origin: center;
}

.svg-container:hover::before {
    transform: scale(1);
}

.svg-container:hover {
    background: radial-gradient( rgba(255,255,255,0) 70%, rgba(255,255,255,0.3) 100%);
}

.svg-container:hover svg {
    transform: scale(1.2);
}

