<div class="aboutus-wrapper">
  <h2 class="title animated-text">Training Beneficiary</h2>
</div>
<!-- <div class="container-fluid">
    <div class="" *ngFor="let newArr of beneficiaryArr">
        <h1>{{newArr.training_beneficiaries_title}}</h1>
        <h3>{{newArr.training_beneficiary_header}}</h3>
        <h3>{{newArr.training_beneficiary_subheader_1}}</h3>
 
 
        <ng-container *ngIf="newArr.Training_beneficiary_bullet_1">
            <p>{{newArr.Training_beneficiary_bullet_1}}</p>
        </ng-container>
     </div>
 
     <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.training_beneficiary_subheader_2}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_2">
             <p>{{newArr.Training_beneficiary_bullet_2}}</p>
         </ng-container>
      </div>
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.training_beneficiary_subheader_3}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_3">
             <p>{{newArr.Training_beneficiary_bullet_3}}</p>
         </ng-container>
      </div>
 
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.Training_beneficiary_subheader_4}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_4">
             <p>{{newArr.Training_beneficiary_bullet_4}}</p>
         </ng-container>
      </div>
 
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.Training_beneficiary_subheader_5}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_5">
             <p>{{newArr.Training_beneficiary_bullet_5}}</p>
         </ng-container>
      </div>
 
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.Training_beneficiary_subheader_6}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_6">
             <p>{{newArr.Training_beneficiary_bullet_6}}</p>
         </ng-container>
      </div>
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.Training_beneficiary_subheader_7}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_7">
             <p>{{newArr.Training_beneficiary_bullet_7}}</p>
         </ng-container>
      </div>
      <div class="" *ngFor="let newArr of beneficiaryArr">
      
   
         <h3>{{newArr.Training_beneficiary_subheader_8}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_8">
             <p>{{newArr.Training_beneficiary_bullet_8}}</p>
         </ng-container>
      </div>
      <div class="" *ngFor="let newArr of beneficiaryArr">
         <h3>{{newArr.Training_beneficiary_subheader_9}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_9">
             <p>{{newArr.Training_beneficiary_bullet_9}}</p>
         </ng-container>
      </div>
      <div class="" *ngFor="let newArr of beneficiaryArr">  
         <h3>{{newArr.Training_beneficiary_subheader_10}}</h3>
         <ng-container *ngIf="newArr.Training_beneficiary_bullet_10">
             <p>{{newArr.Training_beneficiary_bullet_10}}</p>
         </ng-container>
      </div>
</div> -->

<div class="container-fluid">
  <div *ngFor="let item of carouselData; let carouselIndex = index">
    <div class="wrapper">
      <div class="title_wrapper">
        <h4 class="title">{{ item.heading }}</h4>
      </div>
      <div class="para" [innerHTML]="item.text"></div>
      <ng-container *ngIf="item.subheading || item.bullets">
        <div class="subheader-wrapper">
          <h4 class="subheader">{{ item.subheading }}</h4>
          <div class="bullets" [innerHTML]="item.bullets"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
