<div
      class="slider-container"
      *ngIf="images.length > 0"
      
    >
      <div
        class="slider"
        [style.transform]="'translateX(-' + currentTranslate + 'px)'"
        [style.transition]="transition"
      >
        <div *ngFor="let image of visibleImages" class="card">
          <div (mouseenter)="pauseScroll()"
          (mouseleave)="resumeScroll()" class="card-img">
            <img [src]="image.src" alt="Logo" />
            <h6>{{ image.text }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="images.length === 0" class="loading">
      Loading images...
    </div>
      
